@base: #fff;
@import url(http://fonts.googleapis.com/css?family=Neuton:800);


body{
  background-color: @base;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}


h1{
  font-size: 20px;
}

h3{
  font-family: 'Neuton', serif;
  font-size: 22px;
}

h5{
  font-family: 'Neuton', serif;
  font-size: 16px;
  word-wrap: break-word;
}



#wrapper{
  width: 100%;
  height: 100%;
}

.top-bar .name h1 a{
  font-size: 26px;
  color: #F1C40F;
  font-family: 'Neuton', serif;
  padding: 0px;
  margin: 0px;
  padding-left: 7px;
  line-height: 40px;
  min-width: 240px;
  //text-shadow: 0px 0px 5px #0f173b;

}

.top-bar{
  background: #34495E;
}

li.has-form,  .left{
  background-color: transparent !important;

}

.top-bar-section > ul > .divider{
  border-right: solid 1px #435c75;

}

#filtersMenu ul {
list-style: none;
margin: 0px;
padding: 0px;
border-bottom: 2px solid #ccc;
display: block;
}

#filtersMenu li{
  list-style: none;
  display: block;
  margin: 0px;
  padding: 1px;
  font-size: 12px !important;
  color: #666;
  height: 36px;
  text-align: left;
  padding-top: none;
}


label{
  font-size: 11px !important;
}

#map-canvas {
  height: 100%;
  width: 100%;
  margin-top: 0px;
}


#map, #sidebar
{
  float: left;
}

#map
{
  //width: 76%;
  height: 100%;
  padding: 0px;
}

#sidebar
{
  //width: 200px;
  height: 100%;
  padding-top: 0px;
}

#sidebar.columns{
  padding-left: 0px;
  padding-right: 0px;
}

#addCompany{
  background-color: #7FC9D7;
  color: #000;
}

.markerWindow{
  width: 120px;
  height: 50px;
}

.company{
  background-color: #82ac40 !important;
}

.investor{
  background-color: #6a4ea9 !important;
}

.colab{
  background-color: #2fa6c4 !important;
}

.meetup{
  background-color: #ac404e !important;
}

.hiring{
  background-color: #3777a3 !important;
}


.all{
  background-color: #f58b3d !important;
}

#logo, #title{
  float: left;
  display: inline;
}

.logo{
  margin-top: 6px;
  margin-left: 10px;
  border: 1px solid #fff;

}

.shadow{
  box-shadow: 0px 0px 5px #0f173b;
}

.listItem{
  list-style: none;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid #ccc;
  margin: 10px, 0px, 30px, 0px;
  padding-top: 10px;

  h5{
    margin: 0px;
  }
}

.iconpic, .orgTitle{
  float: left;
  display: inline-block;
}

.iconpic{
  margin-right: 10px;
}

.clearfix{
  clear: both;
}

#filtersList ul{
  margin-left: 10px;
  max-height: 505px;
  overflow-y:scroll;
}

#footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 36px;
  background-color: #333;
}

#hirecount{
  height: 25px;
  background-color: #ccc;
  width: 100%;
}

.inline-list{
  display: inline-block;
  width: 350px;
}

#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

.infoname, .infoaddress,
.infowebsite, .infohiring {
  float: left;
  diplay: block;
  height: 20px;
  width: 100%;
}

#profile{
  width: 100%;
  height: auto;
  padding: 0px;
  float: left;
  display: block;

  p{
    padding: 0px;
    margin-left: 15px;
  }

  .infoname{
    font-family: 'Neuton', serif;
    font-size: 35px;
    margin-bottom: 10px;
    line-height: 30px;
    word-wrap: break-word;
    height: auto;
    width: auto;
  }
  .infoaddress{
    font-size: 12px;
    color: #666;
    line-height: 20px;
    margin-bottom: 5px;
    display: block;
    width: auto;
    height: auto;
    word-wrap: break-word;
  }

  .infowebsite{
    color: #5d8da4;
    margin-bottom: 5px;
    width: auto;
  }

  .infowhynashville {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
    height: 36px;
    width: auto;
    //border: 1px solid #666;
  }

  .infohiring {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
    height: 36px;
  }


 .infohiring a{
    font-size: 12px;
    color: #fff;
    background-color: #F1C40F;
    padding: 9px;
    width: auto;
    height: 36px;
  }

  .infohiring a:hover{
    font-size: 12px;
    color: #000;
  }
}
#orgInfo{
  width: 100%;
  height: 300px;
  background-color: blue;
}

#backbtn{
  font-family: 'Neuton', serif;
  font-size: 23px;
  margin-bottom: 5px;
  text-align: right;
  background-color: #000;
  height: auto;
  padding:10px;
  padding-right: 10px;
}

#nashgraphic{
  width: 100%;
  height: 400px;
  display: block;
  float: left;
  background: url(../images/nashville.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.infoaddress2{
    font-size: 12px;
    color: #666;
    line-height: 20px;
    margin-bottom: 5px;
    display: block;
    width: auto;
    height: auto;
  }

  .hire a{
    font-size: 12px;
    // color: #666;
    line-height: 20px;
    margin-bottom: 5px;

    width: 100px;
    color: #fff;
    background-color: #F1C40F;
    padding: 5px;
    width: auto;
    height: 30px;
    margin-left:40px;
  }

.hidden{
  display: none !important;
}