#filtersMenu
  ul
    li: button.tiny.radius.expand(data-type='all') All Companies
    li: button.tiny.radius.expand(data-type='company') Digital Companies
    li: button.tiny.radius.expand(data-type='investor') Investors
    li: button.tiny.radius.expand(data-type='cospaceIncubators') Coworking/Incubator Space
    li: button.tiny.radius.expand(data-type='meetup-space') MeetUp Space
    li: button.tiny.radius.expand(data-type='isHiring') Hiring Companies
#filtersList
