extends ../template/layout
include ../mixins/form-helper


  block content
    script.
      var orgs = #{util.inspect(orgs)};
    #map.small-8.medium-9.columns
      #map-canvas
    #sidebar.small-4.medium-3.columns
      include register-form
      include filters
      include profile
