script(src="/javascripts/vendor/jquery-1.10.2.js")
script(src="/javascripts/vendor/foundation.min.js")
script(src="/javascripts/vendor/lodash.js")
script(src="/javascripts/vendor/moment-with-langs.js")
script(src="/socket.io/socket.io.js")
script(src="/javascripts/app/utilities.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkMIgcV_7yr2Lxb77OhHPjHdkbpVjWZI4&sensor=true")
script(src="/javascripts/vendor/markerclusterer.js")
script(src="/javascripts/app/app.js")
